@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Theming Colors */
  --other: blue;
  --primary: #7F65AA;
  --primary-text: #ffffff;
  --color-header-secondary: #8570a7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primarytext: var(--primary-text)
  --color-header-secondary: var(--color-header-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #7F65AA;
    --primary-text: #ffffff;
    --color-header-secondary: #8570a7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
